@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">construir Web apps com ASP.NET Core</a>.</p>
</div>

<!--Kayky Santos Pessoa - CB 3021157-->

<!-- TRABALHO PRÁTICO
Elabore um sistema utilizando ASP.NET MVC, que contemple a apresentação e relação
entre BL e container.
Texto auxiliar explicando o que é um BL: https://www.fazcomex.com.br/comex/bill-of-
lading-bl-o-que-e/
Texto auxiliar a respeito de container: https://pt.wikipedia.org/wiki/Contentor_(transporte)
Itens obrigatórios:
- Modelar as entidades no banco de dados (colocar as chaves primárias e estrangeiras).
- Criar telas de cadastro de BL e Container (o container deve ser associado a um BL
obrigatoriamente).
- Será possível realizar o CRUD [Create, Read, Update and Delete] de cada uma das
entidades no sistema.
- Implementar um layout utilizando por exemplo: bootstrap.
- Disponibilizar um menu para a navegação do usuário.
- Disponibilizar uma lista de BL/Container na forma de relatório. -->